@import "./mixins";

.lesson{
    @include flex(1rem);
    flex-direction: column;
    .card-container{
        background-color: rgb(247, 238, 227);
        // border: 1px solid blue;
        border-radius: 20px;
        padding: 2rem;
        min-height: 70vh;
        min-width: 85vw;
        @include flex(1rem);
        row-gap: 1.5rem
    }
    .btns{
        @include flex(1rem);
        button{
            width: 200px;
            height: 30px;
            color: white;
            cursor: pointer;
        }
        .red{
            background-color: rgb(117, 4, 4);
        }
        .green{
            background-color: green;
        }
    }
}




